<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Deno demo styles</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
    /* 
      Additional styles of this site that we might not 
      want to make general purpose for all consumers 
    */

    header {
      padding: 3em 0;
    }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <header>
      <h1>
        <a href="https://deno.com/deploy" class="icon icon-deploy" title="Deno Deploy">Deno Deploy</a>
        Deno demo styles
        </h1>
      
      <p>
      Simple, <a href="https://deno.com/deploy">Deno Deploy</a>-branded styles for use in demos and examples
      </p>
    </header>
    <hr>
    <main>
      {{ content }}
    </main>
    <hr>
    <footer>
    <section>
    <h2>Get your own copy to explore</h2>
    <p>You can clone these resources into a repo of your own, and use it to set up a new application hosted on <a href="https://deno.com/deploy">Deno Deploy</a> in a few clicks.</p>
    <p>
    <a href="https://console.deno.com/new?clone=https://github.com/denoland/demo-styles">
      <img src="https://deno.com/button" alt="Deploy on Deno" />
    </a>
    </p>
    </section>
    <section>
      <div>
        <a href="https://bsky.app/profile/deno.land" class="icon icon-bluesky" title="Bluesky">Bluesky</a>
        <a href="https://github.com/denoland" class="icon icon-github" title="GitHub">GitHub</a>
        <a href="https://discord.gg/deno" class="icon icon-discord" title="Discord">Discord</a>
        <a href="https://youtube.com/@deno_land" class="icon icon-youtube" title="YouTube">YouTube</a>
        <a href="https://deno.com" class="icon icon-deno" title="Deno">Deno</a>
        <a href="https://deno.com/deploy" class="icon icon-deploy" title="Deno Deploy">Deno Deploy</a>
        <a href="https://twitter.com/deno_land" class="icon icon-twitter" title="Twitter">Twitter</a>
      </div>
    </section>
    </footer>
  </body>
</html>