
code {
  padding: 0.3em 0.4em;
  border-radius: var(--radius-2);
  background-color: #eee;
  color: var(--color-primary-light);
}
pre {
  padding: 1.5em;
  margin: 1em 0;
  border-radius: var(--radius-2);
  overflow-y: scroll;
  background-color: #222;
}

pre code {
  padding: 0;
  background-color: #222;
  color: var(--color-secondary-light);
}