@font-face {
  font-family: Moranga;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("https://demo-styles.philhawksworth.deno.net/fonts/Moranga-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Moranga;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("https://demo-styles.philhawksworth.deno.net/fonts/Moranga-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Recursive;
  font-style: normal;
  font-weight: 300 1000;
  font-display: swap;
  src: url("https://demo-styles.philhawksworth.deno.net/fonts/Recursive_Variable.woff2") format("woff2");
}