form {
  background-color: var(--shade-down-1);
  border-radius: var(--radius-3);
  padding: 2em;
}

label {
  font-size: 0.9em;
  color: var(--color-primary-light);
}

input:not([type=submit]),
select,
textarea {
  width: 100%;
  font-size: 1.1em;
  border: solid 1px black;
  border-radius: var(--radius-2);
  padding: 0.3em 0.8em;
  margin-bottom: 0.8em;
}


input[type=text],
input[type=password],
textarea {
  &::placeholder {
    color: var(--color-tertiary);
  }
}

button,
.btn-primary:link, .btn-primary:visited,
.btn-secondary:link, .btn-secondary:visited {
  align-items: center;
  display: inline-block;
  background-color: rgb(102, 194, 255);
  border-color: rgb(0, 119, 204);
  border-radius: 8px;
  border-style: solid;
  border-width: 1.81818px;
  box-shadow: rgb(0, 119, 204) 2px 4px 0px 0px;
  font-family: Moranga, "Georgia Pro", Georgia, serif;
  max-width:max-content;
  padding: 6px 20px;
  margin: 0.25em 0;
  line-height: 1.6;
  text-decoration: none;
  color: rgb(15, 21, 42);
  font-weight: bold;
  transition: all 0.2s ease;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  &:hover:not([disabled]):not(.disabled), &:focus:not([disabled]):not(.disabled) {
    background-color:  rgb(160, 217, 255);
  }   
  &:disabled, &.disabled  {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-primary:link, .btn-primary:visited {
  background-color: rgb(102, 194, 255);
}

.btn-secondary:link, .btn-secondary:visited {
  background-color: rgb(223, 242, 255);
}




input[type=submit] {
  padding: 0.4em 1em;
  border-radius: var(--radius-2);
  border: solid 1px black;
  background-color: var(--color-primary-light);
  color: #fff;
  cursor: pointer;
}

input[type=submit]:not(:disabled):hover,
input[type=submit]:not(:disabled):focus {
  background-color: var(--color-primary);
  color: #fff;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-image: var(--icon-chevron);
  background-position: calc(100% - 8px);
  background-repeat: no-repeat;
  background-size: .75em;
}

label > * {
  display: block;
  margin-top:0.3em;
}