:root {
  --font-sans: "Recursive", ui-sans-serif, system-ui, sans-serif;
  --font-serif: Moranga, "Georgia Pro", Georgia, serif;
  --font-mono: "Recursive";
}


body {
  font-family: var(--font-sans);
  color: #666;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  margin: 0.75em 0 1em;
  color: #000;
}
h1 {  font-size: 2em;}
h2 {  font-size: 1.5em;}

p {
  margin: 1em 0;
}
p+p {
  margin-top: 0em;
}

ul, ol {
  margin: 1em 0;
}
li::marker {
  color: #999
}

a {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #09f;
  &:hover {
    color: #09f;
  }
}

blockquote {
  border-left: solid 2px #ccc;
  background: #f6f6f6;
  padding: 2em;
  margin: 2em 0;
  font-size: 1.1rem;

  h1, h2, h3, h4 {
    font-size: 1.4em;
    padding-top: 0;
  }
}

