<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Deno demo styles</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>